* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
pre {
  white-space: pre-wrap;
}
body {
  color: #777;
  font-family: "RobotoDraft", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background: #fafafa;
}

a {
  color: #444;
  display: inline-block;
  text-decoration: underline;
}
h1, h2, h3 {
  color: #00bcd4;
  margin-bottom: 15px;
}
h1      { margin-bottom: 50px; }
p, ul   { margin-bottom: 20px; }
ul      { margin-bottom: 50px; }
ul, li  { 
  list-style-type: disc; 
  list-style-position: inside;
}
ul li { margin-bottom: 10px; }
.center { text-align: center; }
.center img { margin: 0 10px; }

/* header */ 
header {
  color: #fff;
  padding: 50px 0;
  text-align: center;
  margin-bottom: 40px;
  background: #03A9F4;
}
header .container { margin-bottom: 0; }
header h1 {
  color: #fff;
  font-size: 56px;
  margin-bottom: 25px;
  line-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

header ul {
  display: table;
  padding-top: 20px;
  margin: 0 auto 0 auto;
}
header ul,header ul li { list-style-type: none; }
header li {
  float: left;
  margin-right: 20px;
}
header li a {
  color: #fff;
  padding: 10px 20px;
  display: block;
  font-size: 15px;
  border-radius: 5px;
  background: #E35E68;
  text-decoration: none;
}
header li a:active {
  position: relative;
  top: 1px;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto 40px auto;
}

/* License */
.license {
  padding: 50px 0;
  background: #EEEEEE;
 }

 /* hightlight */
.highlight {
  padding: 35px;
  margin-top: 20px;
  border-radius: 8px;
  background: #f7f7f7;
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

/* footer */ 
footer {
    color: #fff;
    padding: 40px 0;
    background: #444;
    text-align: center;
}
footer p { margin: 0; }